---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Tension from "../components/Tension.astro";
import Privacy from "../components/Privacy.astro";
import Redaction from "../components/Redaction.astro";
import Modules from "../components/Modules.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Trust from "../components/Trust.astro";
import Download from "../components/Download.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Tension />
    <Privacy />
    <Redaction />
    <Modules />
    <HowItWorks />
    <Trust />
    <Download />
  </main>
  <Footer />
</Base>
